* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --mainColor: #043865;
    --mainColorLight: #043865;
    --secondaryColor: #db2b39;
    --textColor: #eee;
    --secondary: #052f52;
    --sideColor: #072138;
    --white: #e4f1fe;
}
.regist h1 {
    text-align: center;
    color: #043865;
  }
  
.regist form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 450px;
  }
  
.regist  label {
    margin-bottom: 10px;
  }
  
.regist input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
 .regist button {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #043865;
    color: #fff;
    cursor: pointer;
    border: 10px;
    display: block;
    position: center;
  }
  
 .regist button:hover {
    background-color: #052f52;
  }


  