:root {
    --mainColor: #043865;
    --mainColorLight: #043865;
    --secondaryColor: #db2b39;
    --textColor: #eee;
    --secondary: #052f52;
    --sideColor: #072138;
    --white: #e4f1fe;
}

.courses button {
    padding: 8px;
    border: 1px solid #000;
    background-color: var(--mainColorLight);
    color: #eee;
    margin-right: 10px;
    border-radius: 10px;
}

.courses button:hover {
    cursor: pointer;
    background-color: var(--mainColor);
}

.courses li{
    padding-bottom: 20px;
}

.courses ul {
    list-style: none;
}