* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --mainColor: #043865;
    --mainColorLight: #043865;
    --secondaryColor: #db2b39;
    --textColor: #eee;
    --secondary: #052f52;
    --sideColor: #072138;
    --white: #e4f1fe;
}

.container {
    background-color: var(--secondary);
    display: block;
    overflow: hidden;
    height: 450px;
    /* z-index: 10; */
}

.footer-columns {
    display: flex;
    padding-left: 200px;
    padding-top: 50px;
    font-size: 1rem;
}

.footer-col {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #eee;
}

.footer-col-title h2 {
    color: #eee;
    text-align: left;
    padding-bottom: 15px;
    font-size: 0.9rem;
}

.footer-col-links {
    list-style: none;
}

.footer-col-links li {
    text-align: left;
    line-height: 1.5;
}

.footer-col-links li:hover {
    cursor: pointer;
}

.footer-col-links a {
    color: #eee;
    text-decoration: none;
}

.footer-col-links a:hover{
    text-decoration: underline;
}

.logos {
    position: relative;
    bottom: 250px;
    left: 450px;
}

.pg-logo img {
    width: 100px;
    padding-right: 20px;
}

.fah-logo img {
    padding-left: 20px;
    width: 200px;
    border-left: 1px solid #eee;
}